:root {
  --white: white;
  --black: black;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.top-nav {
  background-color: #f0e7e7;
  height: 160px;
}

.cell {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-end;
}

.div-block {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  display: flex;
}

.cell-2 {
  padding-left: 32px;
  display: block;
}

.div-block-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 22px;
}

.button {
  color: red;
  background-color: rgba(56, 152, 236, 0);
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 11px;
  padding-bottom: 0;
  padding-left: 0;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 700;
  display: block;
}

.div-block-3 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.quick-stack {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cell-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  background-color: #24ac44;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
}

.button-2 {
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #000;
  border-radius: 0;
  width: 120px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

.button-3 {
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #000;
  width: 120px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

.home-buttonj {
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #000;
  width: 120px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  position: static;
}

.button-5 {
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #000;
  width: 120px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

.main {
  background-color: rgba(216, 199, 199, 0);
  background-image: url('../images/cooper-truck-blurred.png');
  background-position: 50%;
  background-size: 200%;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  display: flex;
}

.div-block-4 {
  text-align: center;
  background-color: rgba(201, 181, 181, 0);
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0%;
  padding-right: 0%;
}

.div-block-5 {
  background-color: red;
}

.heading-2 {
  color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.hero-heading-left {
  background-color: rgba(245, 247, 250, 0);
  border-bottom: 1px solid #e4ebf3;
  padding: 20px 30px 10px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  text-align: center;
  flex-direction: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 46%;
  display: block;
}

.margin-bottom-24px {
  text-align: left;
  margin-bottom: 24px;
  font-family: Oswald, sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 22px;
}

.button-primary {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 290px;
  height: 65px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.div-block-6 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-primary-copy {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 290px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.heading-3 {
  text-align: center;
  font-family: Oswald, sans-serif;
}

.testimonial-slider-large {
  background-color: #24ac44;
  border-bottom: 1px solid #e4ebf3;
  padding: 20px 30px;
  position: relative;
}

.testimonial-slider-two {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
}

.testimonial-slide {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  display: flex;
}

.testimonial-content {
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  margin-right: 40px;
  display: flex;
}

.testimonial-quote-icon {
  margin-bottom: 24px;
}

.testimonial-quote {
  color: #fff;
  margin-bottom: 32px;
  padding-left: 10px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.testimonial-info-two {
  align-items: center;
  display: flex;
}

.testimonial-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.testimonial-author-name {
  color: #fff;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.testimonial-image-two {
  object-fit: cover;
  width: 350px;
  height: 400px;
}

.testimonial-author-image-three {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 24px;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.heading-4 {
  color: #fff;
  text-align: center;
  background-color: #24ac44;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Oswald, sans-serif;
}

.body {
  background-image: url('../images/white-square-vector.png');
  background-position: 0 0;
  background-size: 300% 300%;
}

.text-block {
  color: #d9ff00;
  font-size: 40px;
}

.pricing-overview {
  border-bottom: 1px solid #e4ebf3;
  padding: 10px 30px;
  position: relative;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.pricing-description {
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-grid {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 10px;
  display: grid;
}

.pricing-card-three {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing-image {
  object-fit: cover;
  width: auto;
  height: 160px;
  margin-bottom: 16px;
}

.pricing-card-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.logos-without-title {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 40px 30px;
  position: relative;
}

.clients-wrapper-three {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.hero-stack {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 10px 30px;
  position: relative;
}

.hero-wrapper-two {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 25px;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.button-6 {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b9abab;
  background-image: url('../images/bandicam-2024-06-10-09-15-09-795.png');
  background-position: 0 0;
  background-size: auto;
  border: 3px solid #000;
  border-radius: 12px;
  width: 700px;
  height: 600px;
  padding-top: 20px;
  padding-right: 8px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.heading-5 {
  margin-top: 10px;
  font-family: Oswald, sans-serif;
  font-size: 44px;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 0 30px 10px;
  position: relative;
}

.container-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-wrapper-two-2 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.section {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Varela, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.footer-subscribe {
  background-color: #24ac44;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 0;
  padding: 50px 30px 40px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-two {
  background-color: #f5f7fa;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  border: 1px #000;
  width: 460px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
}

.footer-form-input::placeholder {
  color: rgba(26, 27, 31, .8);
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #fff;
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: #3a4554;
  margin-left: 24px;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.info-wrapper {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.heading-6, .heading-7 {
  font-size: 30px;
}

.heading-8 {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.div-block-7 {
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image {
  margin-top: 20px;
  padding-bottom: 28px;
}

.div-block-8 {
  max-width: 25%;
}

.div-block-9 {
  width: 100%;
}

.heading-9 {
  font-family: Oswald, sans-serif;
  font-size: 26px;
  line-height: 26px;
}

.heading-10, .heading-11 {
  font-family: Oswald, sans-serif;
  font-size: 30px;
}

.div-block-10 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  text-align: center;
  background-image: url('../images/white-square-vector.png');
  background-position: 0 0;
  background-size: contain;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-top: 140px;
  display: flex;
}

.div-block-11 {
  height: 410px;
}

.div-block-12 {
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  margin-top: 21px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0;
  display: flex;
}

.div-block-13, .div-block-14 {
  width: 400px;
  height: 400px;
}

.text-block-3 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
}

.div-block-15 {
  background-color: rgba(236, 225, 225, 0);
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.heading-12 {
  color: #4c5e96;
  padding-top: 31px;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.aa {
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/phone-icon.png');
  background-position: 50%;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
}

.button-8 {
  width: 50px;
  height: 50px;
}

.div-block-16 {
  background-color: #6d8f4d;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
}

.div-block-16-copy {
  background-color: #6d8f4d;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
}

.button-7-copy {
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/mail-icon-1.png');
  background-position: 50%;
  background-size: 200% 200%;
  width: 50px;
  height: 50px;
}

.cell-4 {
  justify-content: flex-start;
  align-items: center;
}

.heading-13 {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

.button-9 {
  text-align: center;
  background-color: #000;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100px;
  margin-top: 12px;
  padding-top: 31px;
  font-family: Oswald, sans-serif;
  font-size: 38px;
  line-height: 38px;
  display: block;
}

.link {
  font-family: Droid Sans, sans-serif;
  font-style: normal;
}

.div-block-17 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-14 {
  font-family: Droid Sans, sans-serif;
}

.text-block-4 {
  text-align: right;
}

.button-primary-copy {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 290px;
  height: 65px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-copy:active {
  background-color: #43464d;
}

.button-primary-copy.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.heading-15 {
  text-align: center;
  font-family: Droid Sans, sans-serif;
  font-size: 44px;
  font-weight: 700;
}

.paragraph, .paragraph-2, .paragraph-3 {
  font-family: Exo, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.paragraph-4 {
  font-family: Oswald, sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.heading-16 {
  margin-top: 0;
  font-family: Oswald, sans-serif;
  font-size: 65px;
}

.text-block-5 {
  font-size: 40px;
}

.heading-17 {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.button-primary-copy-copy {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 20px;
  height: 65px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-copy-copy.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.button-primary-copy-copy {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 290px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-copy-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-copy-copy:active {
  background-color: #43464d;
}

.button-primary-copy-copy-copy {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  width: 290px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-copy-copy-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-copy-copy-copy:active {
  background-color: #43464d;
}

.div-block-18 {
  margin-top: -90px;
}

.body-2 {
  background-color: #faf7f7;
}

.heading-18 {
  text-align: center;
  padding-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.button-10 {
  text-align: center;
  border-radius: 12px;
  width: 350px;
  height: 100px;
  margin-top: 20px;
  padding-top: 26px;
  font-family: Oswald, sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.div-block-19 {
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

.div-block-19-copy {
  justify-content: center;
  align-items: center;
  height: 200px;
  display: flex;
}

.button-10-copy {
  margin-top: 20px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.text-block-6 {
  text-align: center;
  padding-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.div-block-20 {
  align-self: auto;
  height: 20px;
}

.aa-copy {
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/facebook2.png');
  background-position: 50%;
  background-size: 180% 200%;
  width: 50px;
  height: 50px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.nav-copy {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  background-color: #24ac44;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
}

.button-5-copy, .button-5-copy-copy {
  text-align: center;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #000;
  width: 120px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

.button-5-copy-copy.w--current {
  font-size: 20px;
}

.hero-stack-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 10px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-4 {
  margin-bottom: 10px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.hero-image-2 {
  width: 100%;
  margin-top: 50px;
}

.hero-image-2.shadow-two {
  margin-top: 10px;
}

.heading-19 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

.text-block-7 {
  padding-top: 10px;
}

.text-block-8 {
  margin-top: 10px;
  padding-left: 40px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 15px;
  }

  .button {
    font-size: 16px;
  }

  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .button-primary {
    width: 240px;
    height: 64px;
    font-size: 9px;
  }

  .heading-3 {
    font-size: 29px;
  }

  .testimonial-slide {
    padding-left: 32px;
  }

  .testimonial-quote {
    padding-right: 10px;
    overflow: visible;
  }

  .heading-4 {
    font-size: 30px;
  }

  .pricing-grid {
    grid-column-gap: 30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .container-2, .container-3 {
    max-width: 728px;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .div-block-8 {
    max-width: 0%;
  }

  .div-block-10 {
    background-size: 170% 100%;
    display: block;
  }

  .div-block-12 {
    height: 300px;
  }

  .heading-12 {
    padding-top: 0;
    font-size: 30px;
  }

  .container-4 {
    max-width: 728px;
  }

  .text-block-8 {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .cell-2 {
    padding-left: 10px;
  }

  .nav {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .button-2, .button-3, .home-buttonj, .button-5.w--current {
    width: 110px;
    font-size: 17px;
  }

  .heading-2 {
    font-size: 16px;
  }

  .hero-heading-left {
    padding: 60px 15px 10px;
  }

  .button-primary {
    width: 260px;
    height: 70px;
    font-size: 10px;
  }

  .heading-3 {
    font-size: 25px;
  }

  .testimonial-slider-large {
    padding: 60px 15px;
  }

  .testimonial-slide {
    flex-direction: column;
    padding: 23px;
  }

  .testimonial-content {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .testimonial-quote-icon {
    width: 50px;
    margin-bottom: 16px;
  }

  .testimonial-image-two {
    width: 100%;
    height: auto;
  }

  .heading-4 {
    font-size: 28px;
  }

  .pricing-overview, .logos-without-title {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero-stack {
    padding: 60px 15px 20px;
  }

  .button-6 {
    width: 500px;
    height: 500px;
  }

  .hero-without-image {
    padding: 10px 15px;
  }

  .section {
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 300px;
    display: grid;
  }

  .text-block-2 {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .footer-subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .heading-8 {
    font-size: 16px;
  }

  .heading-12 {
    line-height: 34px;
  }

  .text-block-4 {
    text-align: left;
  }

  .heading-15 {
    font-size: 30px;
  }

  .paragraph, .paragraph-2, .paragraph-3 {
    font-size: 15px;
  }

  .paragraph-4 {
    font-size: 18px;
  }

  .nav-copy {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .button-5-copy.w--current, .button-5-copy-copy.w--current {
    width: 110px;
    font-size: 17px;
  }

  .hero-stack-2 {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 120px;
  }

  .div-block-2 {
    display: block;
  }

  .heading {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 30px;
  }

  .button {
    margin-top: 0;
    padding-top: 0;
  }

  .div-block-3 {
    justify-content: flex-start;
    align-items: center;
    line-height: 14px;
  }

  .nav {
    height: 70px;
  }

  .button-2, .button-3, .home-buttonj, .button-5.w--current {
    width: 75px;
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
  }

  .heading-2 {
    font-size: 14px;
    line-height: 20px;
  }

  .hero-heading-left {
    padding-top: 10px;
  }

  .container {
    max-width: none;
  }

  .margin-bottom-24px {
    font-size: 16px;
  }

  .button-primary {
    height: 65px;
  }

  .button-primary.footer-form-button {
    position: relative;
    right: 0;
  }

  .testimonial-quote-icon {
    width: 30px;
  }

  .testimonial-quote {
    font-size: 18px;
    line-height: 30px;
  }

  .testimonial-author-name {
    line-height: 25px;
  }

  .testimonial-author-image-three {
    margin-right: 16px;
  }

  .testimonial-slider-nav {
    margin-top: 0;
  }

  .heading-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .logos-without-title {
    padding-bottom: 10px;
  }

  .clients-wrapper-three {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-stack {
    padding-top: 10px;
  }

  .button-6 {
    width: 320px;
    height: 320px;
    font-size: 20px;
  }

  .container-2, .container-3 {
    max-width: none;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .text-block-3 {
    font-size: 30px;
  }

  .aa {
    width: 30px;
    height: 30px;
  }

  .div-block-16, .div-block-16-copy {
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }

  .button-7-copy {
    width: 25px;
    height: 30px;
  }

  .heading-13 {
    font-size: 22px;
  }

  .button-9 {
    font-size: 32px;
  }

  .heading-14 {
    font-size: 22px;
    line-height: 30px;
  }

  .button-primary-copy.footer-form-button {
    position: relative;
    right: 0;
  }

  .heading-16 {
    font-size: 50px;
  }

  .heading-17 {
    font-size: 18px;
  }

  .button-primary-copy-copy.footer-form-button {
    position: relative;
    right: 0;
  }

  .heading-18 {
    font-size: 26px;
  }

  .button-10 {
    width: 300px;
    height: 70px;
    padding-top: 14px;
    font-size: 25px;
  }

  .div-block-19-copy {
    height: 100px;
    padding-bottom: 20px;
  }

  .text-block-6 {
    font-size: 18px;
  }

  .image-2 {
    max-width: 1%;
  }

  .div-block-20 {
    height: 30px;
    margin-top: -18px;
    line-height: 14px;
  }

  .image-3 {
    max-width: 0%;
  }

  .aa-copy {
    background-image: url('../images/facebook2.png');
    background-position: 50%;
    background-size: 180%;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-copy {
    height: 70px;
  }

  .button-5-copy.w--current, .button-5-copy-copy.w--current {
    width: 75px;
    padding-left: 0;
    padding-right: 0;
    font-family: Oswald, sans-serif;
    font-size: 11px;
  }

  .container-4 {
    max-width: none;
  }

  .text-block-8 {
    margin-top: 0;
    font-size: 15px;
  }
}

#w-node-f8b3147c-91cc-1efb-29f4-4d235a94f594-224929b2, #w-node-d61f5238-2afb-6139-19c0-9889a5119e84-0ba98fd0, #w-node-ed739c98-8162-f742-35c4-acacb3d10e2b-d56440a3, #w-node-bcd1ed1b-094c-fe1f-b943-35598947c7c7-f7ebb897 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.5fr 1fr;
}
